<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Change Password </title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/stylelogin.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container forms">

        <div class="form login">
            <div class="form-content">
                <header>Change Password</header>
                <form id="changePasswordForm" action="/forgetPasswordReset" method="post"
                    onsubmit="return validateForm()">
                    <div class="field input-field">
                        <input type="password" placeholder="Change password" class="passsword" name="password"
                            id="password">
                        <h6 id="passwordError" style="color:red;"></h6>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Confirm password" class="passsword" name="confirmPassword"
                            id="confirmPassword">
                        <h6 id="confirmPasswordError" style="color:red;"></h6>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button type="submit">CHANGE</button>
                    </div>
                </form>

            </div>

            <div class="line"></div>


            <div class="media-options">
                <a href="/login" class="field google">

                    <span>Go Back</span>
                </a>
            </div>
        </div>

    </section>

    <!-- JavaScript -->
    <script src="assets/js/script.js"></script>


    <script>
        function validateForm() {
            const form = document.forms["changePasswordForm"];
            const password = form["password"].value.trim();
            const confirmPassword = form["confirmPassword"].value.trim();

            form["password"].value = password;
            form["confirmPassword"].value = confirmPassword;

            let isValid = true;

            if (password.length < 6) {
                document.getElementById('passwordError').innerHTML = "Password must be at least 6 characters long.";
                isValid = false;
            } else {
                document.getElementById('passwordError').innerHTML = "";
            }

            if (password !== confirmPassword) {
                document.getElementById('confirmPasswordError').innerHTML = "Passwords do not match.";
                isValid = false;
            } else {
                document.getElementById('confirmPasswordError').innerHTML = "";
            }

            return isValid;
        }
    </script>

</body>

</html>