<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Forget Password </title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/stylelogin.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Forget Password?</header>
                <form action="/forgetPassword" method="post">
                    <p class="p-orng">Enter your registered email id to recover passsword.We’ll send a OTP to reset your
                        password </p>
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="email" required>
                        <% if (typeof message !=="undefined" ) { %>
                            <h6 style="color:red;">
                                <%= message %>
                            </h6>
                            <% } %>
                    </div>

                    <div class="field button-field">
                        <button>Send</button>
                    </div>
                </form>
            </div>

            <div class="line"></div>

            <!-- <div class="media-options">
                    <a href="#" class="field facebook">
                        <i class='bx bxl-facebook facebook-icon'></i>
                        <span>Login with Facebook</span>
                    </a>
                </div> -->

            <div class="media-options">
                <a href="/login" class="field google">

                    <span>Go Back</span>
                </a>
            </div>

        </div>
    </section>

    <!-- JavaScript -->
    <script src="assets/js/script.js"></script>
    <script>
        //    function validateOtpTime(){
        //     if (localStorage.getItem("countdown") !== null) {
        //         const otpTime =localStorage.getItem("countdown")
        //         if(Date.now()>otpTime){
        //             document.getElementById('otpError').innerHTML = "Try after some seconds.";
        //             return false;
        //         }
        //         else{
        //              // If "countdown" exists, remove it
        //         localStorage.removeItem("countdown");
        //         }

        //     }

        //     }


        // Check if localStorage has the item "countdown"
        if (localStorage.getItem("countdown") !== null) {
            // If "countdown" exists, remove it
            localStorage.removeItem("countdown");
        }

    </script>
</body>

</html>